.beer-details {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  &-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120rem;
  }

  img {
    max-height: 55rem;
    max-width: 25rem;
    margin-right: 8rem;
  }

  &-main {
    margin: auto 0;
    font-size: 1.4rem;

    &-title {
      margin-bottom: 0.6rem;
      line-height: 5rem;
      font-size: 4.8rem;
    }

    &-tagline {
      font-size: 2rem;
    }

    &-first-brewed {
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }

    &-desc {
      margin-bottom: 2rem;
    }

    &-tips {
      margin-bottom: 2rem;

      &-title {
        font-size: 2.2rem;
      }
    }
  }

  .btn {
    padding: 1rem 3rem;
    font-size: 2rem;
    color: #fff;
    background-color: #f0710b;
    transition: 0.2s;

    &:hover {
      background-color: #702a00;
    }

    &.atc {
      margin-right: 2rem;
    }

    &.return {
      background-color: #702a00;

      &:hover {
        background-color: #4e2206;
      }
    }
  }
}
