.category {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 11rem;
  width: 11rem;
  padding: 2rem;
  font-size: 1.1rem;
  font-weight: 500;
  border-right: 0.1px solid #ccc;
  cursor: pointer;
  transition: 0.2s;

  &.active {
    background: linear-gradient(
      0deg,
      rgba(226, 112, 9, 1),
      rgba(242, 180, 9, 1)
    );
    border-radius: 4px;
    transform: scale(1.1);
  }

  &:last-child {
    border-right: none;
  }
}
